body {
    background-color: rgb(39,40,34);
    color: white;
}

.main {
    height: 100%;
    display: table-cell;
    vertical-align: middle;

    .main-container{
        display: inline-block;
        width: 100%;
        
        .timer{
            margin: 0;

            text-align: center;
            font-size: 70pt;
        
            &.flash{
                animation-name: flash-anim;
                animation-direction: alternate;
                animation-duration: 0.5s;
                animation-iteration-count: infinite;        
            }
        
            @keyframes flash-anim{
                from {
                    opacity: 1;
                }
                to {
                    opacity: 0;
                }
            }
        }
        
        .average {
            text-align: center;
        }

        .scramble{
            margin-top: 3rem;
            text-align: center;
            font-size: 25pt;
        }
    }
}

div.container-table{
    overflow-y: auto;
    overflow-x: hidden;
    height: 50vh;
    left: 10px;
    top: 10px;
    position: absolute;
    font-size: 20pt;

    .timeTable {
        border-collapse: collapse;
        text-align: center;

        th {
            border-bottom: 1px solid black;
        }
        td:nth-child(even),
        th:nth-child(even){
            border-left: 1px solid black;
        }

        td, th{
            padding: 5px;
        }
    }
}

