$grey: #32373A;
$blue: #619DDD;
$darkBlue: #083668;

body {
    background-color: $grey;
    color: white;
}

.main {
    height: 100%;
    display: table-cell;
    vertical-align: middle;

    .main-container{
        display: inline-block;
        width: 100%;

        .timer{
            margin: 0;

            text-align: center;
            font-size: 70pt;
        
            &.flash{
                animation-name: flash-anim;
                animation-direction: alternate;
                animation-duration: 0.5s;
                animation-iteration-count: infinite;        
            }
        
            @keyframes flash-anim{
                from {
                    opacity: 1;
                }
                to {
                    opacity: 0;
                }
            }
        }
        
        .average {
            text-align: center;
        }

        .scramble{
            margin-top: 3rem;
            text-align: center;
            font-size: 25pt;
        }
    }
}

.container-scroll{
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 400px);
    width: 150px;
    left: 10px;
    top: 10px;
    position: absolute;
    font-size: 20pt;
    direction: rtl;

    div.container-table{
        direction: ltr;

        table.timeTable {
            border-collapse: collapse;
            text-align: center;
            position: relative;

            th {
                background-color: $grey;
                position: sticky;
                top: 0;
            }

            th::after{
                content: '';
                position: absolute;
                z-index: 100;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                border-bottom: 1px solid white;
            }

            td:nth-child(even),
            th:nth-child(even){
                border-left: 1px solid white;
            }

            td, th{
                padding: 5px;
            }
        }
    }
}

.full-height {
    height: calc(100vh - 10px);
}

div.display-window{
    position: absolute;
    z-index: 100;
    width: 400px;
    height: 100px;
    top: 10px;
    left: 150px;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px;

    p {
        font-weight: bold;
        margin: 0;
    }
}

.button-wrapper {
    position: absolute;
    right: 10px;
    top: 10px;
}

.modal-close {
    position: absolute;
    right: 10px;
    top: 10px;
}


.modal-content{
    padding: 16px 24px !important;
    
    .github-button {
        width: 100%;

        button {
            color: black;
            margin: 0 auto;
            display: block;
        }
    }

    .MuiSwitch-thumb{
        color: $darkBlue;
    }

    .MuiSwitch-track {
        background-color: $grey;
    }
    
    .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track{
        background-color: $darkBlue;
    }

    .MuiSwitch-colorSecondary.Mui-checked{
        color: $darkBlue;
    }

    .MuiSwitch-colorSecondary.Mui-checked:hover{
        background-color: rgba(20,22,23,0.04);
    }
}



